a2m-afp-back/target/
a2m-afp-back/bin/
a2m-afp-back/.settings/
a2m-afp-back/.idea/

*.class
a2m-afp-back/.classpath
a2m-afp-back/.project

a2m-afp-auth/bin/
a2m-afp-auth/target/
a2m-afp-auth/.classpath
a2m-afp-auth/.settings/
a2m-afp-auth/.project
a2m-afp-auth/.factorypath
a2m-afp-back/.factorypath
a2m-afp-auth/.idea/compiler.xml
a2m-afp-auth/.idea/encodings.xml
a2m-afp-auth/.idea/jarRepositories.xml
a2m-afp-auth/.idea/misc.xml
a2m-afp-auth/.idea/vcs.xml
