<title>Atwom Login</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="css/images/icons/favicon.ico" />

<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/common.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/login.css" type="text/css" />
<!-- <script src="js/layout.js"></script> -->
<!-- Bootstrap Css -->

<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
<!-- custom Css-->
<link href="/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/libs/wait-me/waitMe.min.css" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">


<!-- JAVASCRIPT -->
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>
<script src="/assets/libs/feather-icons/feather.min.js"></script>
<script src="/assets/js/lord-icon-2.1.0.js"></script>
<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/js/password-addon.init.js"></script>
<script src="/assets/libs/wait-me/waitMe.min.js"></script>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--  <script src="js/pages/password-addon.init.js"></script> -->

<script src="js/common/constants.js"></script>
