<!-- JAVASCRIPT -->
<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="libs/simplebar/simplebar.min.js"></script>
<script src="libs/node-waves/waves.min.js"></script>
<script src="libs/feather-icons/feather.min.js"></script>
<script src="js/lord-icon-2.1.0.js"></script>
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/password-addon.init.js"></script>
<script src="libs/wait-me/waitMe.min.js"></script>
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!--  <script src="js/pages/password-addon.init.js"></script> -->

<script async defer crossorigin="anonymous"
	src="https://connect.facebook.net/en_US/sdk.js#version=v14.0&appId=356380546572148&xfbml=true&autoLogAppEvents=true"></script>
<script src="js/social/gclient.js"></script>
<script src="js/social/kakao.js"></script>
<script src="js/common/common.js"></script>
<script src="js/common/elements.js"></script>